h1 {
    font-size: 64px;
    text-align:center;
}
h2 {
    text-align:center;
}
#character-selection {
    text-align:center;
}
.characters {
    display: inline-block;
    width:225px;
    height:150px;
    margin: 20px 20px 20px 20px;
    background-color: white;
    text-align:center;
}

body {
    background-image: url("../images/gotbackground.jpg");
    background-size: 1440px 800px;
}